<h3 class="text-center yellow-font with-cool-font" style="margin-bottom: 60px;">HEY THERE! WELCOME BACK!</h3>
<div class="form-margin">

  <div class="input-container">
    <label class="with-cool-font white-font">EMAIL</label><br>
    <input class="white-font">
  </div>

  <div class="input-container">
    <label class="with-cool-font white-font">PASSWORD</label><br>
    <input class="white-font" type="password"><br>
  </div>

  <button mat-button class="with-cool-font regis-button" style="margin-left: 18%; color: white; margin-top: 20px; margin-bottom: 15px;">
    SIGN IN
  </button>
  <div class="white-font with-cool-font link">ALREADY HAVE AN ACCOUNT?</div>
</div>
